{% extends 'layout.html' %}
{% load static %}

{% block style %}
    <style>
        p {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0;
            margin-inline-end: 0;
        }

        .card-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }

        img {
            display: inline-block;
        }

        .video-card_info img {
            margin-top: 0;
            width: 17px;
            height: 17px;
            margin-right: 3px;
            margin-bottom: 2px;
        }

        li,
        ul,
        ol {
            list-style: none;
        }

        ul {
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0;
            margin-inline-end: 0;
            padding-inline-start: 40px;
        }

        .video-card {
            height: 116px;
            border-radius: 2px;
            position: relative;
            display: flex;
            vertical-align: top;
            margin-bottom: 40px;
        }

        .video-card_content {
            width: 206px;
            flex-shrink: 0;
            margin-right: 10px;
            background: #e7e7e7;
            height: 116px;
            border-radius: 2px;
            position: relative;
        }

        a {
            outline: 0;
            color: inherit;
            text-decoration: none;
        }

        .cover-picture_img {
            width: 100%;
            height: 100%;
            border-radius: 2px;
        }

        .video-card_info {
            cursor: pointer;
            width: 500px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: space-between;
            color: #999;
            font-size: 12px;
            padding: 0 70px 0 0;
        }

        .video_info {
            width: 350px;
            height: 135px;
            border: 1px solid black;
        }

        .video-name {
            width: 500px;
        {#display: -webkit-box;#} overflow: hidden;
        {#-webkit-box-orient: vertical;#} margin-top: 0;
            text-overflow: ellipsis;
        {#word-break: break-word;#}{#-webkit-line-clamp: 2;#} white-space: nowrap;
            height: 43px;
            font-size: 14px;
            color: #212121;
            padding: 0;
            margin-bottom: 8px;
            line-height: 20px;
            transition: color .3s;
            font-weight: 600;
        }

        .strong-tag {
            background: #fff1ed;
            color: #f63;
        }

        .rcmd-tag {
            display: inline-block;
            border-radius: 2px;
            font-size: 12px;
            padding: 0 3px;
            margin-bottom: 4px;
            border: 1px solid #fff1ed;
            transform: scale(.9);
            transform-origin: left;
        }

        .up-name {
            display: flex !important;
            align-items: center;
            height: 16px;
            font-size: 12px;
            color: #999;
            margin-bottom: 3px;
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;

            text-overflow: ellipsis;
            word-break: break-word;
            -webkit-line-clamp: 1;
        }

        .video-stat {
            line-height: 16px;
            display: flex;
            align-items: center;
        }

        .play-text {
            margin-right: 12px;
            display: flex;
            align-items: center;
        }

        .like-text {
            display: flex;
            align-items: center;
        }

        .popular-list {
            padding: 20px 0 0;
        }

        .popular-video-container {
            min-height: 100vh;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <input type="button" class="btn btn-primary" id="refreshBtn" value="刷新界面"/>
            {#            <input type="button" class="btn btn-primary" id="reloadBtn" value="重新爬取"/>#}
            <button type="button" class="btn btn-primary" id="reloadBtn" data-toggle="modal" data-target="#myModal">
                重新爬取
            </button>
            <a href="save/" class="btn btn-primary">保存信息</a>

        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                热门视频
            </div>
            <div class="panel-body">
                <p>热门视频200条</p>
                <hr>
                <div id="buttonList">
                    {% for i, j in typelist.items %}
                        <button type="button"
                                {% if forloop.counter == typeid %}
                                class="btn btn-success"
                                {% else %}
                                class="btn btn-info"
                                {% endif %}
                                id="{{ forloop.counter }}" href="/popular/" style="width: 119px;">
                            {{ i }}
                            <span class="badge">{{ j }}</span>
                        </button>
                    {% endfor %}
                    <a href="/popular/" class="btn btn-primary" style="width: 119px">全选</a>
                </div>
                <hr>
                <div id="sortList">
                    <button type="button"
                            {% if sort == "view" %}
                            class="btn btn-success"
                            {% else %}
                            class="btn btn-primary"
                            {% endif %}
                            id="view">观看最多
                    </button>
                    <button type="button"
                            {% if sort == "like" %}
                            class="btn btn-success"
                            {% else %}
                            class="btn btn-primary"
                            {% endif %}
                            id="like">点赞最多
                    </button>
                    <button type="button"
                            {% if sort == "coin" %}
                            class="btn btn-success"
                            {% else %}
                            class="btn btn-primary"
                            {% endif %}
                            id="coin">投币最多
                    </button>
                    <button type="button"
                            {% if sort == "favourite" %}
                            class="btn btn-success"
                            {% else %}
                            class="btn btn-primary"
                            {% endif %}
                            id="favourite">收藏最多
                    </button>
                    <button type="button"
                            {% if sort == "share" %}
                            class="btn btn-success"
                            {% else %}
                            class="btn btn-primary"
                            {% endif %}
                            id="share">分享最多
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div class="popular-video-container popular-list">
                <div class="flow-loader" style="position:relative">
                    <ul class="card-list">
                        {% for i in query %}
                            <div class="video-card">
                                <div class="video-card_content">
                                    <a href="{{ i.link }}" target="_blank">
                                        <img src="{{ i.picture }}" alt="" class="lazy-image cover-picture_img">
                                    </a>
                                </div>
                                <div class="video-card_info">
                                    <p class="video-name">{{ i.title }}</p>
                                    <div>
                                        <span class="rcmd-tag strong-tag">{{ i.reason }}</span>
                                        <span class="up-name">
                                            <img src="{% static 'img/icon_up.png' %}" alt="up">
                                            <span class="up-name_text">{{ i.owner_name }}</span>
                                            <img src="{% static 'img/uid.png' %}" alt="uid"
                                                 style="width:25px; height: 20px;">
                                            <span class="up-name_text">{{ i.owner_mid }}</span>
                                        </span>
                                        <p class="video-stat">
                                            <span class="play-text">
                                                <img src="{% static 'img/view.png' %}" alt="play">
                                                {{ i.view }}
                                            </span>
                                            <span class="like-text">
                                                <img src="{% static 'img/view.png' %}" alt="like">
                                                {{ i.danmu }}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="video_info">
                                    <div> <h4>{{ i.type_name }} -- {{ i.tag_name }}</h4></div>
                                    <div class="row">
                                        <div class="col-xs-5">av号：{{ i.aid }}</div>
                                        <div class="col-xs-7">bv号：{{ i.bvid }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4"> 点赞：{{ i.like }}</div>
                                        <div class="col-xs-4"> 投币：{{ i.coin }}</div>
                                        <div class="col-xs-4"> 收藏：{{ i.favourite }}</div>
                                    </div>
                                    <div> 分享：{{ i.share }}</div>
                                    <a tabindex="0" role="button" class="btn btn-primary btn-sm"
                                       data-toggle="popover" data-content="{{ i.description }}"
                                       data-placement="left" data-trigger="focus">
                                        简介
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {#    模态框#}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data->
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span#}
{#                            aria-hidden="true">&times;</span></button>#}
                    <h4 class="modal-title" id="myModalLabel">爬虫正在运行</h4>
                </div>
                <div class="modal-body">
                    爬虫正在爬取信息中，请不要关闭此窗口
                </div>
                <div class="modal-footer">
                    {# <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>#}
                    {# <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            // 页面框架加载完成后自动执行
            bindReloadEvent()
            bindRefreshEvent()
            bindSpiderModal()
        })

        // 在这里设置模态框的默认属性
        function bindSpiderModal() {
            $('#myModal').modal({
                backdrop: "static",
                show: false,
            });
            $("[data-toggle='popover']").popover();
        }

        // 绑定一个刷新界面的按钮
        function bindRefreshEvent() {
            $("#refreshBtn").click(function () {
                location.reload()
            })
        }

        // 为按钮组绑定事件
        window.onload = function () {
            let blist = document.getElementById("buttonList");
            blist.onclick = function (ev) {
                let e = ev || window.event;
                let target = e.target
                if (target.nodeName.toLowerCase() === 'button') {
                    window.location.href = `http://127.0.0.1:8000/popular/?typeid=${target.id}`;
                }
            }
            // 分区按钮组
            let sortlist = document.getElementById("sortList");
            sortlist.onclick = function (ev) {
                let e = ev || window.event;
                let target = e.target
                if (target.nodeName.toLowerCase() === 'button') {
                    console.log(location.href)
                    let a = location.href.indexOf('typeid');
                    if (a != "-1") {
                        console.log("url中包含typeid")
                        let i = locationExtract('typeid')
                        console.log(i)
                        window.location.href = `http://127.0.0.1:8000/popular/?typeid=${i}&sort=${target.id}`;
                    } else {
                        window.location.href = `http://127.0.0.1:8000/popular/?sort=${target.id}`;
                    }
                }
            }
        }
        // 在这里进行事件的绑定
        function bindReloadEvent() {
            $("#reloadBtn").click(function () {
                $('#myModeal').modal('show')
                $.ajax({
                    url: '/popular/reload/',
                    type: 'post',
                    success: function (res) {
                        console.log(res)
                        if (res.status) {
                            $('#myModeal').modal('hide')
                            alert("爬取成功！")
                            window.location.href = `http://127.0.0.1:8000/popular/`
                        } else {
                            alert("爬取失败！请重试！")
                        }
                    }
                })
            })
        }

        function locationExtract(classify) {
            let url = window.location.search;
            if (url === "" || url.indexOf('=') < 0)
                return;
            if (url.indexOf('&') < 0) {
                if (url.slice(1).split('=')[0] === classify) {
                    return url.slice(1).split('=')[1];
                    // 当url后面只有一个参数时没加分隔符，此时只需判断第一个是否为自己要找的参数
                }
            }
            let par = url.slice(1).split('&');
            for (let index = 0; index < par.length; index++) {
                let indexClass = par[index].split('=');
                if (indexClass[0] === classify) {
                    return indexClass[1]
                }
            }
        }
    </script>
{% endblock %}